.App-header {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.App-link {
  color: #61dafb;
}

* {
  outline: "1px solid #dfdfdf" !important;
}
